
<%= render 'layouts/sidebar' %>

<div class="col-md-6 col-md-offset-3">
  <div class="page-header center">
    <h3>PORTFOLIO</h3>
  </div>
  <div id="pics" class="transitions-enabled">
    <%= render partial: 'layouts/pic', collection: @pics %>
  </div>
</div>