
<div class="page-header" align="center">
  <h1>PORTFOLIO</h1>
  <!-- Add "user logged in?" functionality -->
  <%= link_to "Post New Picture", new_pic_path, class: "btn btn-primary" %>
</div>


<% @pics.each do |pic| %>
    <div class="row" align="center">
      <div class="well well-lg">
        <h2><%= link_to pic.title, pic %></h2>
          <ul class = "edit-delete">
            <li><%= link_to "Edit", edit_pic_path(pic), class: 'button' %></li>
            <li><%= link_to "Destroy", pic_path(pic), class: 'button', method: :delete, data: {confirm: "Are you sure?"} %></li>
          </ul>

      </div>
    </div>
<% end %>


