/*
*= require 'masonry/transitions'
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";

$navbar-default-bg: #ffffff;

.navbar {
  margin-bottom: 0;
}

#logo {
  float: left;
  font-size: 1.7em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";

}

#logo:hover {
  background-color: #f2f2f2;
}

.center {
  text-align: center;
}





footer {
  bottom: 0px;
  position: fixed;
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
  border-top: dotted 1px #a6a6a6;

}

footer ul {
  bottom: 2px;
  float: right;
  padding-right: 10px;
  list-style: none;

}

footer ul li {
  float: left;
  margin: 10px;

}

#form-content-control {
  margin-left: auto;
  margin-right: auto;
}


.description {
  margin: 0;
}


.listing {

  list-style: none;

}

.dropdown:hover .dropdown-menu{

  display: block;
}


#pics {

  margin: 0 auto;
  width: 100%;
  .box {
    margin: 5px;
    width: 300px;
    box-shadow: 0 1px 2px 0 rgba(195, 192, 195, 0.33);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
#pic_show {

  .panel-heading {
    padding: 0;
  }
  .pic_image {
    img {
      max-width: 100%;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .panel-body {
    padding: 35px;
    .description {
      font-weight: bold;
      line-height: 1.75;
      margin: 0;
      text-align: center;
    }
  }
  .panel-footer {
    padding: 20px 25px;
    p {
      margin: 0;
    }
  }
}
